{% extends 'news/base.html'%}

{% block page_title %}
    <title>文章详情页</title>
{% endblock %}

{% block js_file %}
    <script type="text/javascript" src="../../static/news/js/detail.js"></script>
{% endblock %}

{% block page_content %}
    <div class="conter_con">
        <div class="detail_con fl">
            <h3>{{ context.news.title }}</h3>

{#新闻详情的渲染#}
            <div class="detail_about clearfix">
                <span class="time_souce fl">{{ context.news.create_time }} 来源:
                    {% if context.news.author %}
                        <a href="#"><img src="{% if context.news.author.avatar_url %}{{ context.news.author.avatar_url }}{% else %}../../../static/news/images/person01.png{% endif %}" alt="头像">&nbsp;&nbsp;{{  context.news.author.nick_name }}</a>
                    {% else %}
                        {{ context.news.source }}
                    {% endif %}
                </span>
                <span class="comment fr">{{ context.news.comments_count }}</span>
            </div>
{#jinja2模板很小心，是自己给的标签<>,;等等符号，要告诉它是safe的#}
            {{ context.news.content | safe }}

        <a href="javascript:;" class="collected block-center" data-newid="{{ context.news.id }}" style="display: {% if context.is_collected %} block{% else %} none {% endif %};"><span class="out">已收藏</span><span class="over">取消收藏</span></a>
        <a href="javascript:;" class="collection block-center" data-newid="{{ context.news.id }}" style="display: {% if context.is_collected %} none{% else %} block {% endif %};">收藏</a>
{#新闻详情的渲染#}

{#评论框的渲染#}
        {% if context.user %}
            <form action="" class="comment_form" data-newsid="{{ context.news.id }}">
                <div class="person_pic">
                    <img src="{% if context.user.avatar_url %}{{ context.user.avatar_url }}{% else %}../../static/news/images/cat.jpg{% endif %}" alt="用户图标">
                </div>
                    <textarea placeholder="请发表您的评论" class="comment_input"></textarea>
                <input type="submit" name="" value="评 论" class="comment_sub">
            </form>
        {% else %}
            <div class="comment_form_logout">
                登录发表你的评论
            </div>
        {% endif %}
        <div class="comment_count">
            4条评论
        </div>
{#评论框的渲染#}

{#评论框原代码#}
{#        <div class="comment_form_logout">#}
{#            登录发表你的评论#}
{#        </div>#}
{#        <form action="" class="comment_form">#}
{#            <div class="person_pic">#}
{#                <img src="../../static/news/images/cat.jpg" alt="用户图标">#}
{#            </div>#}
{#                <textarea placeholder="请发表您的评论" class="comment_input"></textarea>#}
{#            <input type="submit" name="" value="评 论" class="comment_sub">#}
{#        </form>#}
{#        <div class="comment_count">#}
{#            4条评论#}
{#        </div>#}
{#评论框原代码#}

        <div class="comment_list_con">
{#刚评论的内容渲染用js动态加载，已有评论，模板渲染#}
        {% for comment in context.comment_lists %}
            <div class="comment_list">
                <div class="person_pic fl"><img src="{% if comment.user.avatar_url %}{{ comment.user.avatar_url }}{% else %}../../static/news/images/cat.png{% endif %}" alt="用户图标"></div>
                <div class="user_name fl">{{ comment.user.nick_name }}</div>
                <div class="comment_text fl">{{ comment.content }}</div>
            {% if comment.parent %}
                <div class="reply_text_con fl">
                    <div class="user_name2">{{ comment.parent.user.nick_name }}</div>
                    <div class="reply_text">{{ comment.parent.content }}</div>
                </div>
            {% endif %}
                <div class="comment_time fl">{{ comment.create_time }}</div>
                <a href="javascript:;" class="comment_up has_comment_up fr">1</a>
                <a href="javascript:;" class="comment_reply fr">回复</a>
                <form class="reply_form fl" data-commentid="{{ comment.id }}" data-newsid="{{ context.news.id }}">
                    <textarea class="reply_input"></textarea>
                    <input type="button" value="回复" class="reply_sub fr">
                    <input type="reset" name="" value="取消" class="reply_cancel fr">
                </form>
            </div>
        {% endfor %}

{#原评论内筒模板代码#}
{#            <div class="comment_list">#}
{#                <div class="person_pic fl">#}
{#                    <img src="../../static/news/images/worm.jpg" alt="用户图标">#}
{#                </div>#}
{#                <div class="user_name fl">用户张山</div>#}
{#                <div class="comment_text fl">#}
{#                    遏制茅台酒价格过快上涨，多渠道供给，就不一定要买，租茅台酒也可以的，租售同权。开发共有产权茅台酒，让老百姓喝得起茅台酒，饮者有其酒。#}
{#                </div>#}
{#                <div class="reply_text_con fl">#}
{#                    <div class="user_name2">用户李思</div>#}
{#                    <div class="reply_text">#}
{#                        遏制茅台酒价格过快上涨，多渠道供给，就不一定要买，租茅台酒也可以的，租售同权。开发共有产权茅台酒，让老百姓喝得起茅台酒，饮者有其酒。#}
{#                    </div>#}
{#                </div>#}
{#                <div class="comment_time fl">2017-01-01 00:00:00</div>#}
{#                <a href="javascript:;" class="comment_up has_comment_up fr">1</a>#}
{#                <a href="javascript:;" class="comment_reply fr">回复</a>#}
{#                <from class="reply_form fl">#}
{#                    <textarea  class="reply_input"></textarea>#}
{#                    <input type="submit" name="" value="回复" class="reply_sub fr">#}
{#                    <input type="reset" name="" value="取消" class="reply_cancel fr">#}
{#                </from>#}
{#            </div>#}

{#            <div class="comment_list">#}
{#                <div class="person_pic fl">#}
{#                    <img src="../../static/news/images/worm.jpg" alt="用户图标">#}
{#                </div>#}
{#                <div class="user_name fl">用户张山</div>#}
{#                <div class="comment_text fl">#}
{#                    遏制茅台酒价格过快上涨，多渠道供给，就不一定要买，租茅台酒也可以的，租售同权。开发共有产权茅台酒，让老百姓喝得起茅台酒，饮者有其酒。#}
{#                </div>#}
{#                <div class="comment_time fl">2017-01-01 00:00:00</div>#}
{#                <a href="javascript:;" class="comment_up fr">赞</a>#}
{#                <a href="javascript:;" class="comment_reply fr">回复</a>#}
{#                <from class="reply_form fl">#}
{#                    <textarea  class="reply_input"></textarea>#}
{#                    <input type="submit" name="" value="回复" class="reply_sub fr">#}
{#                    <input type="reset" name="" value="取消" class="reply_cancel fr">#}
{#                </from>#}
{#            </div>#}
{##}
{#            <div class="comment_list">#}
{#                <div class="person_pic fl">#}
{#                    <img src="../../static/news/images/worm.jpg" alt="用户图标">#}
{#                </div>#}
{#                <div class="user_name fl">用户张山</div>#}
{#                <div class="comment_text fl">#}
{#                    遏制茅台酒价格过快上涨，多渠道供给，就不一定要买，租茅台酒也可以的，租售同权。开发共有产权茅台酒，让老百姓喝得起茅台酒，饮者有其酒。#}
{#                </div>#}
{#                <div class="comment_time fl">2017-01-01 00:00:00</div>#}
{#                <a href="javascript:;" class="comment_up fr">赞</a>#}
{#                <a href="javascript:;" class="comment_reply fr">回复</a>#}
{#                <from class="reply_form fl">#}
{#                    <textarea  class="reply_input"></textarea>#}
{#                    <input type="submit" name="" value="回复" class="reply_sub fr">#}
{#                    <input type="reset" name="" value="取消" class="reply_cancel fr">#}
{#                </from>#}
{#            </div>#}
{##}
{#            <div class="comment_list">#}
{#                <div class="person_pic fl">#}
{#                    <img src="../../static/news/images/worm.jpg" alt="用户图标">#}
{#                </div>#}
{#                <div class="user_name fl">用户张山</div>#}
{#                <div class="comment_text fl">#}
{#                    遏制茅台酒价格过快上涨，多渠道供给，就不一定要买，租茅台酒也可以的，租售同权。开发共有产权茅台酒，让老百姓喝得起茅台酒，饮者有其酒。#}
{#                </div>#}
{#                <div class="comment_time fl">2017-01-01 00:00:00</div>#}
{#                <a href="javascript:;" class="comment_up fr">赞</a>#}
{#                <a href="javascript:;" class="comment_reply fr">回复</a>#}
{#                <from class="reply_form fl">#}
{#                    <textarea  class="reply_input"></textarea>#}
{#                    <input type="submit" name="" value="回复" class="reply_sub fr">#}
{#                    <input type="reset" name="" value="取消" class="reply_cancel fr">#}
{#                </from>#}
{#            </div>#}
{#原评论内筒模板代码#}
        </div>
    </div>


{#用户信息详情#}
        <div class="rank_con fr">
            <div class="author_card">
                <a href="#" class="author_pic"><img src="../../static/news/images/user_pic.png" alt="author_pic"></a>
                <a href="#" class="author_name">张大山</a>
                <div class="author_resume">张大山的简介,张大山</div>
                <div class="writings"><span>总篇数</span><b>23</b></div>
                <div class="follows"><span>粉丝</span><b>36</b></div>
                <a href="javascript:;" class="focus fr">关注</a>
                <a href="javascript:;" class="focused fr"><span class="out">已关注</span><span class="over">取消关注</span></a>
            </div>
{#用户信息详情#}

{#点击排行的渲染#}
            <div class="rank_title">
                <h3>点击排行</h3>
            </div>
            <ul class="rank_list">
                {% for news in context.news_clicks %}
                    <li><span class="{{ loop.index | rank }}">{{ loop.index }}</span><a href="#">{{ news.title }}</a></li>
                {% endfor %}
{#点击排行的渲染#}

{#原点击排行模板代码#}
{#                <li><span class="first">1</span><a href="#">势如破竹！人民币再度连闯四道关口 在岸、离岸双双升破6.42</a></li>#}
{#                <li><span class="second">2</span><a href="#">凛冬已至，还有多少银行人在假装干银行</a></li>#}
{#                <li><span class="third">3</span><a href="#">人民日报：部分城市楼市放松限制引关注，楼市调控不会“拉抽屉”</a></li>#}
{#                <li><span>4</span><a href="#">势如破竹！人民币再度连闯四道关口 在岸、离岸双双升破6.42</a></li>#}
{#                <li><span>5</span><a href="#">凛冬已至，还有多少银行人在假装干银行</a></li>#}
{#                <li><span>6</span><a href="#">人民日报：部分城市楼市放松限制引关注，楼市调控不会“拉抽屉”</a></li>#}
{#原点击排行模板代码#}
            </ul>
        </div>
    </div>
{% endblock %}
