{% extends 'news/base.html'%}

{% block page_title %}
    <title>首页-新经资讯</title>
{% endblock %}

{% block js_file %}
    <script type="text/javascript" src="../../static/news/js/index.js"></script>
{% endblock %}

{% block category_tag %}
    <ul class="menu fl">
        {% for category in context.categories %}
            {% if loop.index == 1 %}
                <li class="active" data-cid="{{ loop.index }}"><a href="javascript:;">{{ category.name }}</a></li>
            {% else %}
                <li data-cid="{{ loop.index }}"><a href="javascript:;">{{ category.name }}</a></li>
            {% endif %}

        {% endfor %}
    </ul>
{% endblock %}

{% block page_content %}
    <div class="conter_con">
        <ul class="list_con fl">

{#用ajax局部刷新请求#}

        </ul>
        <div class="rank_con fr">
            <div class="rank_title">
                <h3>点击排行</h3>
            </div>
            <ul class="rank_list">
                {% for news in context.news_clicks %}
                    <li><span class="{{ loop.index | rank }}">{{ loop.index }}</span><a href="/news/detail/{{ news.id }}">{{ news.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}